In [1]:
#Joaquin Gutierrez

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import plotly.express as px

# Limpieza de datos

In [19]:
df = pd.read_csv("Natricion.csv")

In [20]:
df.head(3)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE

In [5]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [23]:
df['Question'].unique()

array(['Percent of adults aged 18 years and older who have obesity',
       'Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults who report consuming fruit less than one time daily',
       'Percent of adults who report consuming vegetables less than one time daily',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who engage in no leisure-time physical activity'],
      dtype=object)

In [22]:
df[df['Class'] == 'Fruits and Vegetables']

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
56,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",FV,FV1,Q018,VALUE,1,Total,Total,OVR,OVERALL
57,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",FV,FV1,Q018,VALUE,1,Age (years),65 or older,AGEYR,AGEYR65PLUS
58,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",FV,FV1,Q018,VALUE,1,Race/Ethnicity,Hispanic,RACE,RACEHIS
59,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",FV,FV1,Q018,VALUE,1,Education,College graduate,EDU,EDUCOGRAD
60,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",FV,FV1,Q018,VALUE,1,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38204,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(18.220833, -66.590149)",FV,FV1,Q019,VALUE,72,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
38205,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(18.220833, -66.590149)",FV,FV1,Q019,VALUE,72,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
38206,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(18.220833, -66.590149)",FV,FV1,Q019,VALUE,72,Race/Ethnicity,Non-Hispanic White,RACE,RACEWHT
38207,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(18.220833, -66.590149)",FV,FV1,Q019,VALUE,72,Race/Ethnicity,Other,RACE,RACEOTH
38208,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(18.220833, -66.590149)",FV,FV1,Q019,VALUE,72,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [8]:
#contar cantidad de valores nulos para cada columna
df.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               53392
Data_Value_Type                   0
Data_Value                     5046
Data_Value_Alt                 5046
Data_Value_Footnote_Symbol    48346
Data_Value_Footnote           48346
Low_Confidence_Limit           5046
High_Confidence_Limit          5046
Sample_Size                    5046
Total                         51485
Age(years)                    41954
Education                     45764
Gender                        49578
Income                        40043
Race/Ethnicity                38136
GeoLocation                    1008
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           0
Stratification1                   0
StratificationCategoryId1         0
StratificationID1                 0
dtype: int64

In [9]:
#Elimar columnas con mas de 50% de valores nulos
df.drop(['Data_Value_Unit', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Total', 'Age(years)', 'Education', 'Gender', 'Income', 'Race/Ethnicity'], axis=1, inplace=True)

In [10]:
#Ver ek tipo de datos de cada columna
df.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
Datasource                    object
Class                         object
Topic                         object
Question                      object
Data_Value_Type               object
Data_Value                   float64
Data_Value_Alt               float64
Low_Confidence_Limit         float64
High_Confidence_Limit        float64
Sample_Size                  float64
GeoLocation                   object
ClassID                       object
TopicID                       object
QuestionID                    object
DataValueTypeID               object
LocationID                     int64
StratificationCategory1       object
Stratification1               object
StratificationCategoryId1     object
StratificationID1             object
dtype: object

In [11]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,Data_Value,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.0,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.3,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,31.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,33.6,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [12]:
#Mostrar los valores unicos de cada columna de tipo objeto 
for col in df.columns:
    if df[col].dtype == 'object':
        print('Columna: ', col)
        print(df[col].unique())
        print('\n')

Columna:  LocationAbbr
['AL' 'US' 'AK' 'AZ' 'AR' 'CA' 'CT' 'CO' 'DE' 'FL' 'DC' 'GA' 'GU' 'HI'
 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO'
 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WV' 'WA' 'WI' 'WY' 'VI']


Columna:  LocationDesc
['Alabama' 'National' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Connecticut' 'Colorado' 'Delaware' 'Florida' 'District of Columbia'
 'Georgia' 'Guam' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Puerto Rico'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'West Virginia' 'Washington' 'Wisconsin' 'Wyoming'
 'Virgin Islands']


Columna:  Datasource
['Behavioral Risk Factor Surveillance System']


Columna:  Class
['Obesity / Weight Status' 'Fruits and Vegetables' 'Physical Activity']


Columna:  Topic
['Obesity / Weight Status' 'Fruits and Vegetables - Behavior'
 'Physical Activity - Behavior']


Columna:  Question
['Percent of adults aged 18 years and older who have obesity'
 'Percent of adults aged 18 years and older who have an overweight classification'
 'Percent of adults who report consuming fruit less than one time daily'
 'Percent of adults who report consuming vegetables less than one time daily'
 'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who engage in no leisure-time physical activity']


Columna:  Data_Value_Type
['Value']


Columna:  GeoLocation
['(32.84057112200048, -86.63186076199969)' nan
 '(64.84507995700051, -147.72205903599973)'
 '(34.865970280000454, -111.76381127699972)'
 '(34.74865012400045, -92.27449074299966)'
 '(37.63864012300047, -120.99999953799971)'
 '(41.56266102000046, -72.64984095199964)'
 '(38.843840757000464, -106.13361092099967)'
 '(39.008830667000495, -75.57774116799965)'
 '(28.932040377000476, -81.92896053899966)'
 '(38.89037138500049, -77.03196112699965)'
 '(32.83968109300048, -83.62758034599966)' '(13.444304, 144.793731)'
 '(21.304850435000446, -157.85774940299973)'
 '(43.682630005000476, -114.3637300419997)'
 '(40.48501028300046, -88.99771017799969)'
 '(39.766910452000445, -86.14996019399968)'
 '(42.46940091300047, -93.81649055599968)'
 '(38.34774030000045, -98.20078122699965)'
 '(37.645970271000465, -84.77497104799966)'
 '(31.31266064400046, -92.44568007099969)'
 '(45.254228894000505, -68.98503133599962)'
 '(39.29058096400047, -76.60926011099963)'
 '(42.27687047000046, -72.08269067499964)'
 '(44.6613195430005, -84.71439026999968)'
 '(46.35564873600049, -94.79420050299967)'
 '(32.745510099000455, -89.53803082499968)'
 '(38.635790776000476, -92.56630005299968)'
 '(47.06652897200047, -109.42442064499971)'
 '(41.6410409880005, -99.36572062299967)'
 '(39.493240390000494, -117.07184056399967)'
 '(43.65595011300047, -71.50036091999965)'
 '(40.13057004800049, -74.27369128799967)'
 '(34.52088095200048, -106.24058098499967)'
 '(42.82700103200045, -75.54397042699964)'
 '(35.466220975000454, -79.15925046299964)'
 '(47.47531977900047, -100.11842104899966)'
 '(40.06021014100048, -82.40426005599966)'
 '(35.47203135600046, -97.52107021399968)'
 '(44.56744942400047, -120.15503132599969)'
 '(40.79373015200048, -77.86070029399963)' '(18.220833, -66.590149)'
 '(41.70828019300046, -71.52247031399963)'
 '(33.998821303000454, -81.04537120699968)'
 '(44.353130053000484, -100.3735306369997)'
 '(35.68094058000048, -85.77449091399967)'
 '(31.827240407000488, -99.42677020599967)'
 '(39.360700171000474, -111.58713063499971)'
 '(43.62538123900049, -72.51764079099962)'
 '(37.54268067400045, -78.45789046299967)'
 '(38.66551020200046, -80.71264013499967)'
 '(47.52227862900048, -120.47001078999972)'
 '(44.39319117400049, -89.81637074199966)'
 '(43.23554134300048, -108.10983035299967)' '(18.335765, -64.896335)']


Columna:  ClassID
['OWS' 'FV' 'PA']


Columna:  TopicID
['OWS1' 'FV1' 'PA1']


Columna:  QuestionID
['Q036' 'Q037' 'Q018' 'Q019' 'Q046' 'Q043' 'Q044' 'Q045' 'Q047']


Columna:  DataValueTypeID
['VALUE']


Columna:  StratificationCategory1
['Total' 'Gender' 'Education' 'Age (years)' 'Income' 'Race/Ethnicity']


Columna:  Stratification1
['Total' 'Male' 'Female' 'Less than high school' 'High school graduate'
 'Some college or technical school' 'College graduate' '18 - 24' '25 - 34'
 '35 - 44' '45 - 54' '55 - 64' '65 or older' 'Less than $15,000'
 '$15,000 - $24,999' '$25,000 - $34,999' '$35,000 - $49,999'
 '$50,000 - $74,999' '$75,000 or greater' 'Data not reported'
 'Non-Hispanic White' 'Non-Hispanic Black' 'Hispanic' 'Asian'
 'Hawaiian/Pacific Islander' 'American Indian/Alaska Native'
 '2 or more races' 'Other']


Columna:  StratificationCategoryId1
['OVR' 'GEN' 'EDU' 'AGEYR' 'INC' 'RACE']


Columna:  StratificationID1
['OVERALL' 'MALE' 'FEMALE' 'EDUHS' 'EDUHSGRAD' 'EDUCOTEC' 'EDUCOGRAD'
 'AGEYR1824' 'AGEYR2534' 'AGEYR3544' 'AGEYR4554' 'AGEYR5564' 'AGEYR65PLUS'
 'INCLESS15' 'INC1525' 'INC2535' 'INC3550' 'INC5075' 'INC75PLUS' 'INCNR'
 'RACEWHT' 'RACEBLK' 'RACEHIS' 'RACEASN' 'RACEHPI' 'RACENAA' 'RACE2PLUS'
 'RACEOTH']

In [13]:
print(df["Class"].unique())
print(df["Topic"].unique())

['Obesity / Weight Status' 'Fruits and Vegetables' 'Physical Activity']
['Obesity / Weight Status' 'Fruits and Vegetables - Behavior'
 'Physical Activity - Behavior']

In [14]:
#Filtrar solo los datos de 'Obesity / Weight Status' de la columna class
df = df[df['Class'] == 'Obesity / Weight Status']
#Elimar las columnas que no se van a utilizar
lista_estados = df["LocationDesc"].unique()
lista_abreviaciones = df["LocationAbbr"].unique()

df.drop(['Topic', 'LocationDesc', 'Data_Value_Type', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID'], axis=1, inplace=True)
df.dropna(inplace=True)
df.shape

(16254, 16)

In [15]:
#Mostrar los valores unicos de cada columna de tipo objeto 
for col in df.columns:
    if df[col].dtype == 'object':
        print('Columna: ', col)
        print(df[col].unique())
        print('\n')

Columna:  LocationAbbr
['AL' 'US' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'DC' 'GA' 'GU' 'HI'
 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO'
 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WI' 'WY' 'WV' 'VI']


Columna:  Datasource
['Behavioral Risk Factor Surveillance System']


Columna:  Class
['Obesity / Weight Status']


Columna:  Question
['Percent of adults aged 18 years and older who have obesity'
 'Percent of adults aged 18 years and older who have an overweight classification']


Columna:  StratificationCategory1
['Total' 'Gender' 'Education' 'Age (years)' 'Income' 'Race/Ethnicity']


Columna:  Stratification1
['Total' 'Male' 'Female' 'Less than high school' 'High school graduate'
 'Some college or technical school' 'College graduate' '18 - 24' '25 - 34'
 '35 - 44' '45 - 54' '55 - 64' '65 or older' 'Less than $15,000'
 '$15,000 - $24,999' '$25,000 - $34,999' '$35,000 - $49,999'
 '$50,000 - $74,999' '$75,000 or greater' 'Data not reported'
 'Non-Hispanic White' 'Non-Hispanic Black' 'Hispanic'
 'American Indian/Alaska Native' '2 or more races' 'Asian' 'Other'
 'Hawaiian/Pacific Islander']


Columna:  StratificationCategoryId1
['OVR' 'GEN' 'EDU' 'AGEYR' 'INC' 'RACE']


Columna:  StratificationID1
['OVERALL' 'MALE' 'FEMALE' 'EDUHS' 'EDUHSGRAD' 'EDUCOTEC' 'EDUCOGRAD'
 'AGEYR1824' 'AGEYR2534' 'AGEYR3544' 'AGEYR4554' 'AGEYR5564' 'AGEYR65PLUS'
 'INCLESS15' 'INC1525' 'INC2535' 'INC3550' 'INC5075' 'INC75PLUS' 'INCNR'
 'RACEWHT' 'RACEBLK' 'RACEHIS' 'RACENAA' 'RACE2PLUS' 'RACEASN' 'RACEOTH'
 'RACEHPI']

In [25]:
df['Data_Value'].unique()

array([32. , 32.3, 31.8, 33.6, 32.8, 33.8, 26.4, 16.3, 35.2, 35.5, 38. ,
       36.4, 27.1, 38.5, 34.8, 35.8, 34.1, 28.8, 23.8, 29.8, 40.1, 28.6,
        nan, 32.9, 27.8, 34.7, 39. , 30.5, 33.2, 35. , 36.8, 31.9, 33.3,
       38.9, 28.4, 35.7, 36.6, 36.1, 36. , 30.1, 34.5, 31.4, 30.4, 43.8,
       35.4, 37.4, 39.5, 39.7, 41.2, 41.6, 41.8, 43.1, 43.9, 44.8, 45. ,
       45.5, 45.8, 46.9, 47.6, 47.9, 50.1, 51.4, 51.8, 24.3, 26.6, 22.3,
       20.8, 16. , 25.6, 23.7, 21.6, 27.7, 29.4, 19.7, 19.9, 14. , 26. ,
       20.7, 11.3, 32.2, 27.3, 22.1, 42.4, 45.4, 39.6, 31.5, 40.8, 44. ,
       52.6, 49.4, 41.9, 25.4, 39.3, 16.8, 40.2, 43.4, 38.8, 36.7, 48.7,
       41.3, 53.5, 37.9, 43. , 40.6, 15. , 17.3, 12.8,  7.7, 13.2, 22.6,
       27.2, 17. , 12.4,  9.5, 10.7, 11.1, 10.9, 12. , 16.5, 16.4, 21.2,
       15.6, 14.3, 13. , 15.3, 23.2, 23.9, 25.3, 22.7, 25.5, 25.8, 27.4,
       20.9, 22.8, 23.5, 28.7, 19.6, 25. , 28.3, 28.5, 22. , 24.4, 23.4,
       29.1, 24.7, 19.8, 18.8, 22.9, 18.1, 20.6, 26.2, 37.6, 21.4, 27. ,
       20.2, 17.7, 20.3, 32.6, 29.6, 35.3, 46.3, 33.5, 31.6, 22.5, 39.8,
       38.6, 27.9,  9.7, 42.5, 20.1, 33. , 34.4, 31.3, 40.3, 26.9, 29. ,
       28.9, 44.1, 24.1, 26.5, 18.5, 30.3, 35.6, 38.1, 34.2, 28.2, 37.5,
       37.7, 31.2, 34.3, 28. , 30.9, 21.3, 16.2, 15.2, 40.4, 26.1, 30.2,
       21.5, 30.7, 17.8, 32.4, 34. , 32.1, 27.6, 19. , 40. , 37.1, 37.2,
       35.1, 33.1, 31.1, 46.2, 24.8, 38.4, 41.5, 33.9, 40.7, 49.5, 44.2,
       51.2, 43.3, 48.8, 50.2, 47.1, 49.3, 50.4, 45.1, 47.7, 42.7, 39.4,
       51. , 10.2, 46. , 24.2, 15.9, 21.9, 29.9, 38.2, 32.5, 17.1, 25.7,
       25.9, 36.3, 16.6, 24.5, 50.6, 44.3, 40.9, 47.3, 42.1, 55.5, 21.7,
       25.1, 47.4, 48.3, 49.9, 39.9, 49. , 56.7, 12.6,  8.9, 12.5, 17.4,
       14.7, 10.5,  9.4, 18. , 18.7, 15.1, 17.2, 19.2, 30.6, 24. , 22.2,
       23.6, 31.7, 23.3, 25.2, 19.1, 34.6, 44.9, 24.9, 26.3, 26.7, 17.5,
       23.1, 36.9, 34.9, 28.1, 36.5, 29.7, 18.4, 20.4, 31. , 30.8, 33.4,
       32.7, 14.8, 33.7, 40.5, 37. , 29.3, 29.5, 29.2, 45.3, 38.7, 24.6,
       42.3, 43.7, 37.3, 39.1, 42.9, 43.6, 44.6, 45.6, 46.5, 47.5, 51.7,
       23. , 27.5, 19.4, 11.8, 17.9, 18.6, 57.9, 58.4, 57.4, 53.1, 59.3,
       67.2, 62.8, 57.6, 55.3, 56.2, 58.2, 58.9, 56. , 55.1, 63.2, 52.7,
       62. , 52.2, 21.1, 26.8, 15.7, 35.9, 37.8, 46.6, 51.9, 16.1, 18.9,
        9. ,  2.3, 22.4, 44.4, 41.1, 36.2, 46.1, 16.9, 30. , 14.4, 13.9,
       15.5, 21.8, 13.4, 38.3, 45.2, 42.8, 47. , 54.5, 43.2, 48.9, 57.2,
       44.5, 13.8,  7.5, 15.8, 11.7, 11.5, 19.3, 54.7, 55.9, 60.6, 51.3,
       58.1, 54. , 48.4, 49.2, 50.8, 53.2, 68. , 49.7, 55.2, 59.6, 54.4,
       53.4, 20.5, 48.5, 11.9, 42.2, 44.7,  8.7, 21. , 12.3, 46.7, 47.8,
       12.2, 20. , 14.9, 18.2,  9.3, 52.8, 54.8, 50.7, 42. , 64.4, 52.5,
       53. , 59.7, 61.6, 59.4, 59.5, 57.1, 56.8, 42.6, 62.4, 13.7,  4.3,
       41.7, 41. , 39.2, 49.1, 59.2, 54.2, 49.8, 61.3, 52.1, 52.4, 58.6,
       50.5, 50.3, 17.6, 11.4, 41.4, 13.3,  6.6, 11. , 10.1, 55.7, 45.7,
       55.4, 16.7, 12.7,  9.9, 48.6, 54.1, 51.6, 43.5, 45.9,  5.4, 14.5,
        9.1,  7.4, 12.1, 15.4,  8.4, 13.1, 18.3, 53.6,  8.1, 10.4, 14.1,
       14.2, 57.5, 55. , 61.5, 48.1, 66.2, 54.6, 64.3, 56.6, 60.4, 66.8,
       60.7, 65.3, 56.4, 66. , 48. , 13.6, 10.6, 14.6, 10.8, 10.3, 19.5,
       54.3, 72.3, 60.2, 56.9, 55.8, 59.9, 64.8, 56.3, 63.3, 11.6,  7.8,
       61.8, 61.9, 68.9, 67.5, 64.5, 61.2, 64.2, 63.6, 67.9, 66.3, 49.6,
        8.8,  9.2,  7.1,  9.8, 61.4, 60.8, 60.1, 61.7, 69.5, 59.8, 68.6,
       63.7, 58.8, 48.2, 46.8,  8.6, 53.9,  6.3, 51.1, 56.5, 50.9,  9.6,
        5.6, 11.2, 12.9, 52. , 50. , 47.2, 13.5,  7.3,  2.1,  8.3, 46.4,
        2.9,  8.2, 53.3,  8.5,  0.9,  3.6, 66.1, 70.1, 70.2, 71.7, 10. ,
        4.6,  7.6,  5. , 51.5, 56.1, 60.3, 58.3, 57.7, 66.4,  5.9,  6.2,
       54.9, 53.8, 57.3, 65.4, 62.3, 61.1, 72.6, 52.9, 58.5, 63.1, 64.7,
       62.6, 69.3, 63.9, 66.7, 59.1, 60.5, 65. , 59. , 70. , 64.9,  6.8,
       60. , 65.8, 63.8, 74.6, 70.9, 61. ,  7.9, 53.7,  3.2,  7. ,  3. ,
       57. , 52.3, 66.9, 55.6, 65.7,  4.8, 63.5,  5.7,  4.7,  6.9, 62.2,
       62.7, 58.7,  5.1, 75.3, 57.8,  8. , 58. , 62.1, 65.2,  2. , 63.4,
        6.1,  1.9,  6.7, 73.8,  6.5, 62.5,  4.4, 63. , 70.3,  5.8, 64.1,
       71.5, 67.3, 67.4, 71.2, 68.3,  4. ,  6. , 60.9, 67. ,  6.4, 64.6,
       71.6, 69.6,  7.2, 67.1, 66.5, 70.7, 69.1, 65.6, 68.2, 68.1, 65.1,
       70.4, 77.6,  2.5, 62.9,  2.2,  5.2,  4.5,  3.3,  3.4,  4.1])

# 2

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Cargar el dataset
data = pd.read_csv('Natricion.csv')

# Mostrar las primeras filas del dataset y la información general
data_head = data.head()
data_info = data.info()
data_describe = data.describe()

(data_head, data_info, data_describe)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

(   YearStart  YearEnd LocationAbbr LocationDesc
 0       2011     2011           AL      Alabama  \
 1       2011     2011           AL      Alabama
 2       2011     2011           AL      Alabama
 3       2011     2011           AL      Alabama
 4       2011     2011           AL      Alabama

                                    Datasource                    Class
 0  Behavioral Risk Factor Surveillance System  Obesity / Weight Status  \
 1  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
 2  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
 3  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
 4  Behavioral Risk Factor Surveillance System  Obesity / Weight Status

                      Topic                                           Question
 0  Obesity / Weight Status  Percent of adults aged 18 years and older who ...  \
 1  Obesity / Weight Status  Percent of adults aged 18 years and older who ...
 2  Obesity / Weight Status  Percent of adults aged 18 years and older who ...
 3  Obesity / Weight Status  Percent of adults aged 18 years and older who ...
 4  Obesity / Weight Status  Percent of adults aged 18 years and older who ...

    Data_Value_Unit Data_Value_Type  ...
 0              NaN           Value  ...  \
 1              NaN           Value  ...
 2              NaN           Value  ...
 3              NaN           Value  ...
 4              NaN           Value  ...

                                GeoLocation  ClassID TopicID QuestionID
 0  (32.84057112200048, -86.63186076199969)      OWS    OWS1       Q036  \
 1  (32.84057112200048, -86.63186076199969)      OWS    OWS1       Q036
 2  (32.84057112200048, -86.63186076199969)      OWS    OWS1       Q036
 3  (32.84057112200048, -86.63186076199969)      OWS    OWS1       Q036
 4  (32.84057112200048, -86.63186076199969)      OWS    OWS1       Q036

    DataValueTypeID  LocationID  StratificationCategory1
 0            VALUE           1                    Total  \
 1            VALUE           1                   Gender
 2            VALUE           1                   Gender
 3            VALUE           1                Education
 4            VALUE           1                Education

          Stratification1 StratificationCategoryId1 StratificationID1
 0                  Total                       OVR           OVERALL
 1                   Male                       GEN              MALE
 2                 Female                       GEN            FEMALE
 3  Less than high school                       EDU             EDUHS
 4   High school graduate                       EDU         EDUHSGRAD

 [5 rows x 33 columns],
 None,
           YearStart       YearEnd  Data_Value_Unit    Data_Value
 count  53392.000000  53392.000000              0.0  48346.000000  \
 mean    2013.281465   2013.281465              NaN     31.156681
 std        1.693300      1.693300              NaN     10.247033
 min     2011.000000   2011.000000              NaN      0.900000
 25%     2012.000000   2012.000000              NaN     24.100000
 50%     2013.000000   2013.000000              NaN     30.700000
 75%     2015.000000   2015.000000              NaN     37.000000
 max     2016.000000   2016.000000              NaN     77.600000

        Data_Value_Alt  Low_Confidence_Limit  High_Confidence_Limit
 count    48346.000000          48346.000000            48346.000000  \
 mean        31.156681             26.892227               35.989997
 std         10.247033             10.038584               11.205813
 min          0.900000              0.300000                3.000000
 25%         24.100000             20.000000               28.200000
 50%         30.700000             26.450000               35.600000
 75%         37.000000             32.900000               42.200000
 max         77.600000             69.500000               87.700000

         Sample_Size    LocationID
 count   48346.00000  53392.000000
 mean     3889.19286     30.282215
 std     19829.42129     16.821318
 min        50.00000      1.000000
 25%       566.00000     17.000000
 50%      1209.00000     30.000000
 75%      2519.00000     44.000000
 max    476876.00000     78.000000  )

In [29]:
# Conteo de valores nulos en columnas relevantes
null_counts = data[['Data_Value', 'Education', 'Income']].isnull().sum()

# Porcentaje de datos nulos
null_percentage = (null_counts / len(data)) * 100

(null_counts, null_percentage)

(Data_Value     5046
 Education     45764
 Income        40043
 dtype: int64,
 Data_Value     9.450854
 Education     85.713215
 Income        74.998127
 dtype: float64)

In [30]:


# Filtrado de datos: Mantener solo las filas donde "Data_Value", "Education" e "Income" no son nulos
data_complete = data.dropna(subset=['Data_Value', 'Education', 'Income'])

In [31]:


# Inspeccionar valores únicos en 'Education' e 'Income'
unique_education = data_complete['Education'].unique()
unique_income = data_complete['Income'].unique()

# Verificar tipos de datos de 'Education' e 'Income'
dtype_education = data_complete['Education'].dtype
dtype_income = data_complete['Income'].dtype

(unique_education, dtype_education, unique_income, dtype_income)

(array([], dtype=object), dtype('O'), array([], dtype=object), dtype('O'))

In [32]:
# Conteo de valores no nulos y valores únicos para cada columna
non_null_counts = data.notnull().sum()
unique_counts = data.nunique()

# Crear un DataFrame para visualizar la información
variable_info = pd.DataFrame({
    'non_null_counts': non_null_counts,
    'unique_counts': unique_counts
})

# Filtrar las variables con más del 70% de valores no nulos y al menos 2 valores únicos (para evitar constantes)
potential_predictors = variable_info[(variable_info['non_null_counts'] > 0.7 * len(data)) & (variable_info['unique_counts'] > 1)]

# Mostrar las variables potenciales para la predicción
potential_predictors.sort_values(by='non_null_counts', ascending=False)

                           non_null_counts  unique_counts
YearStart                            53392              6
YearEnd                              53392              6
StratificationCategoryId1            53392              6
Stratification1                      53392             28
StratificationCategory1              53392              6
LocationID                           53392             55
QuestionID                           53392              9
TopicID                              53392              3
ClassID                              53392              3
StratificationID1                    53392             28
Question                             53392              9
Topic                                53392              3
Class                                53392              3
LocationDesc                         53392             55
LocationAbbr                         53392             55
GeoLocation                          52384             54
Low_Confidence_Limit                 48346            654
Sample_Size                          48346           8123
Data_Value_Alt                       48346            669
Data_Value                           48346            669
High_Confidence_Limit                48346            723

In [ ]:
# Visualizar la relación entre "Sample_Size" y "Data_Value"
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Sample_Size', y='Data_Value', data=data)
plt.title('Relación entre Tamaño de Muestra y Valor de Datos (Índice de Obesidad)')
plt.xlabel('Tamaño de Muestra')
plt.ylabel('Valor de Datos (Índice de Obesidad)')
plt.show()

# Visualizar la relación entre "High_Confidence_Limit" y "Data_Value"
plt.figure(figsize=(10, 6))
sns.scatterplot(x='High_Confidence_Limit ', y='Data_Value', data=data)
plt.title('Relación entre Límite Superior de Confianza y Valor de Datos (Índice de Obesidad)')
plt.xlabel('Límite Superior de Confianza')
plt.ylabel('Valor de Datos (Índice de Obesidad)')
plt.show()

# Visualizar la distribución de "Data_Value" por "Class"
plt.figure(figsize=(10, 6))
sns.boxplot(x='Class', y='Data_Value', data=data)
plt.xticks(rotation=45)
plt.title('Distribución de Valor de Datos (Índice de Obesidad) por Clase')
plt.xlabel('Clase')
plt.ylabel('Valor de Datos (Índice de Obesidad)')
plt.show()

# Visualizar la distribución de "Data_Value" por "Topic"
plt.figure(figsize=(10, 6))
sns.boxplot(x='Topic', y='Data_Value', data=data)
plt.xticks(rotation=45)
plt.title('Distribución de Valor de Datos (Índice de Obesidad) por Tema')
plt.xlabel('Tema')
plt.ylabel('Valor de Datos (Índice de Obesidad)')
plt.show()

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Variables seleccionadas
num_vars = ['Low_Confidence_Limit', 'Sample_Size']
cat_vars = ['Class', 'Topic']

# Eliminar filas con valores nulos en 'Data_Value'
data_model = data.dropna(subset=['Data_Value'])

# División de datos en conjuntos de entrenamiento y prueba
X = data_model[num_vars + cat_vars]
y = data_model['Data_Value']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# Crear transformadores para variables numéricas y categóricas
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),  # Imputación de valores nulos
    ('scaler', StandardScaler())  # Normalización
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Imputación de valores nulos
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # Codificación one-hot
])

# Combinar transformadores en un preprocesador
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, num_vars),
        ('cat', categorical_transformer, cat_vars)
    ])

# Definir el modelo
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# Entrenar el modelo
model.fit(X_train, y_train)

# Predecir los valores de prueba
y_pred = model.predict(X_test)

# Evaluar el modelo
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

(mae, mse, r2)

(2.0528008437327636, 8.808620761843985, 0.9168543569649343)

In [ ]:
#Crear diagrama de cajas para cada columna menos la ultima
sns.boxplot(data=data.iloc[:, :-1])
plt.xticks(rotation=45)
plt.show()