In [1]:
#Joaquin Gutierrez

In [72]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

# Limpieza de datos

In [73]:
df = pd.read_csv("Natricion.csv")

In [74]:
df.head(3)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE

In [75]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [77]:
df['Class'].unique()

array(['Obesity / Weight Status', 'Fruits and Vegetables',
       'Physical Activity'], dtype=object)

In [78]:
df.shape

(53392, 33)

In [79]:
#contar cantidad de valores nulos para cada columna
df.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               53392
Data_Value_Type                   0
Data_Value                     5046
Data_Value_Alt                 5046
Data_Value_Footnote_Symbol    48346
Data_Value_Footnote           48346
Low_Confidence_Limit           5046
High_Confidence_Limit          5046
Sample_Size                    5046
Total                         51485
Age(years)                    41954
Education                     45764
Gender                        49578
Income                        40043
Race/Ethnicity                38136
GeoLocation                    1008
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           0
Stratification1                   0
StratificationCategoryId1         0
StratificationID1                 0
dtype: int64

In [80]:
#Elimar columnas con mas de 50% de valores nulos
df.drop(['Data_Value_Unit', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Total', 'Age(years)', 'Education', 'Gender', 'Income', 'Race/Ethnicity'], axis=1, inplace=True)

In [89]:
#Ver ek tipo de datos de cada columna
df.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
Datasource                    object
Class                         object
Question                      object
Data_Value                   float64
Data_Value_Alt               float64
Low_Confidence_Limit         float64
High_Confidence_Limit        float64
Sample_Size                  float64
LocationID                     int64
StratificationCategory1       object
Stratification1               object
StratificationCategoryId1     object
StratificationID1             object
dtype: object

In [82]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,Data_Value,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.0,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.3,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,31.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,33.6,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [83]:
#Mostrar los valores unicos de cada columna de tipo objeto 
for col in df.columns:
    if df[col].dtype == 'object':
        print('Columna: ', col)
        print(df[col].unique())
        print('\n')

Columna:  LocationAbbr
['AL' 'US' 'AK' 'AZ' 'AR' 'CA' 'CT' 'CO' 'DE' 'FL' 'DC' 'GA' 'GU' 'HI'
 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO'
 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WV' 'WA' 'WI' 'WY' 'VI']


Columna:  LocationDesc
['Alabama' 'National' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Connecticut' 'Colorado' 'Delaware' 'Florida' 'District of Columbia'
 'Georgia' 'Guam' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Puerto Rico'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'West Virginia' 'Washington' 'Wisconsin' 'Wyoming'
 'Virgin Islands']


Columna:  Datasource
['Behavioral Risk Factor Surveillance System']


Columna:  Class
['Obesity / Weight Status' 'Fruits and Vegetables' 'Physical Activity']


Columna:  Topic
['Obesity / Weight Status' 'Fruits and Vegetables - Behavior'
 'Physical Activity - Behavior']


Columna:  Question
['Percent of adults aged 18 years and older who have obesity'
 'Percent of adults aged 18 years and older who have an overweight classification'
 'Percent of adults who report consuming fruit less than one time daily'
 'Percent of adults who report consuming vegetables less than one time daily'
 'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week'
 'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)'
 'Percent of adults who engage in no leisure-time physical activity']


Columna:  Data_Value_Type
['Value']


Columna:  GeoLocation
['(32.84057112200048, -86.63186076199969)' nan
 '(64.84507995700051, -147.72205903599973)'
 '(34.865970280000454, -111.76381127699972)'
 '(34.74865012400045, -92.27449074299966)'
 '(37.63864012300047, -120.99999953799971)'
 '(41.56266102000046, -72.64984095199964)'
 '(38.843840757000464, -106.13361092099967)'
 '(39.008830667000495, -75.57774116799965)'
 '(28.932040377000476, -81.92896053899966)'
 '(38.89037138500049, -77.03196112699965)'
 '(32.83968109300048, -83.62758034599966)' '(13.444304, 144.793731)'
 '(21.304850435000446, -157.85774940299973)'
 '(43.682630005000476, -114.3637300419997)'
 '(40.48501028300046, -88.99771017799969)'
 '(39.766910452000445, -86.14996019399968)'
 '(42.46940091300047, -93.81649055599968)'
 '(38.34774030000045, -98.20078122699965)'
 '(37.645970271000465, -84.77497104799966)'
 '(31.31266064400046, -92.44568007099969)'
 '(45.254228894000505, -68.98503133599962)'
 '(39.29058096400047, -76.60926011099963)'
 '(42.27687047000046, -72.08269067499964)'
 '(44.6613195430005, -84.71439026999968)'
 '(46.35564873600049, -94.79420050299967)'
 '(32.745510099000455, -89.53803082499968)'
 '(38.635790776000476, -92.56630005299968)'
 '(47.06652897200047, -109.42442064499971)'
 '(41.6410409880005, -99.36572062299967)'
 '(39.493240390000494, -117.07184056399967)'
 '(43.65595011300047, -71.50036091999965)'
 '(40.13057004800049, -74.27369128799967)'
 '(34.52088095200048, -106.24058098499967)'
 '(42.82700103200045, -75.54397042699964)'
 '(35.466220975000454, -79.15925046299964)'
 '(47.47531977900047, -100.11842104899966)'
 '(40.06021014100048, -82.40426005599966)'
 '(35.47203135600046, -97.52107021399968)'
 '(44.56744942400047, -120.15503132599969)'
 '(40.79373015200048, -77.86070029399963)' '(18.220833, -66.590149)'
 '(41.70828019300046, -71.52247031399963)'
 '(33.998821303000454, -81.04537120699968)'
 '(44.353130053000484, -100.3735306369997)'
 '(35.68094058000048, -85.77449091399967)'
 '(31.827240407000488, -99.42677020599967)'
 '(39.360700171000474, -111.58713063499971)'
 '(43.62538123900049, -72.51764079099962)'
 '(37.54268067400045, -78.45789046299967)'
 '(38.66551020200046, -80.71264013499967)'
 '(47.52227862900048, -120.47001078999972)'
 '(44.39319117400049, -89.81637074199966)'
 '(43.23554134300048, -108.10983035299967)' '(18.335765, -64.896335)']


Columna:  ClassID
['OWS' 'FV' 'PA']


Columna:  TopicID
['OWS1' 'FV1' 'PA1']


Columna:  QuestionID
['Q036' 'Q037' 'Q018' 'Q019' 'Q046' 'Q043' 'Q044' 'Q045' 'Q047']


Columna:  DataValueTypeID
['VALUE']


Columna:  StratificationCategory1
['Total' 'Gender' 'Education' 'Age (years)' 'Income' 'Race/Ethnicity']


Columna:  Stratification1
['Total' 'Male' 'Female' 'Less than high school' 'High school graduate'
 'Some college or technical school' 'College graduate' '18 - 24' '25 - 34'
 '35 - 44' '45 - 54' '55 - 64' '65 or older' 'Less than $15,000'
 '$15,000 - $24,999' '$25,000 - $34,999' '$35,000 - $49,999'
 '$50,000 - $74,999' '$75,000 or greater' 'Data not reported'
 'Non-Hispanic White' 'Non-Hispanic Black' 'Hispanic' 'Asian'
 'Hawaiian/Pacific Islander' 'American Indian/Alaska Native'
 '2 or more races' 'Other']


Columna:  StratificationCategoryId1
['OVR' 'GEN' 'EDU' 'AGEYR' 'INC' 'RACE']


Columna:  StratificationID1
['OVERALL' 'MALE' 'FEMALE' 'EDUHS' 'EDUHSGRAD' 'EDUCOTEC' 'EDUCOGRAD'
 'AGEYR1824' 'AGEYR2534' 'AGEYR3544' 'AGEYR4554' 'AGEYR5564' 'AGEYR65PLUS'
 'INCLESS15' 'INC1525' 'INC2535' 'INC3550' 'INC5075' 'INC75PLUS' 'INCNR'
 'RACEWHT' 'RACEBLK' 'RACEHIS' 'RACEASN' 'RACEHPI' 'RACENAA' 'RACE2PLUS'
 'RACEOTH']

In [84]:
print(df["Class"].unique())
print(df["Topic"].unique())

['Obesity / Weight Status' 'Fruits and Vegetables' 'Physical Activity']
['Obesity / Weight Status' 'Fruits and Vegetables - Behavior'
 'Physical Activity - Behavior']

In [85]:
#Filtrar solo los datos de 'Obesity / Weight Status' de la columna class
df = df[df['Class'] == 'Obesity / Weight Status']
#Elimar las columnas que no se van a utilizar
lista_estados = df["LocationDesc"].unique()
lista_abreviaciones = df["LocationAbbr"].unique()

df.drop(['Topic', 'LocationDesc', 'Data_Value_Type', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID'], axis=1, inplace=True)
df.dropna(inplace=True)
df.shape

(16254, 16)

In [86]:
#Mostrar los valores unicos de cada columna de tipo objeto 
for col in df.columns:
    if df[col].dtype == 'object':
        print('Columna: ', col)
        print(df[col].unique())
        print('\n')

Columna:  LocationAbbr
['AL' 'US' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'DC' 'GA' 'GU' 'HI'
 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO'
 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WI' 'WY' 'WV' 'VI']


Columna:  Datasource
['Behavioral Risk Factor Surveillance System']


Columna:  Class
['Obesity / Weight Status']


Columna:  Question
['Percent of adults aged 18 years and older who have obesity'
 'Percent of adults aged 18 years and older who have an overweight classification']


Columna:  StratificationCategory1
['Total' 'Gender' 'Education' 'Age (years)' 'Income' 'Race/Ethnicity']


Columna:  Stratification1
['Total' 'Male' 'Female' 'Less than high school' 'High school graduate'
 'Some college or technical school' 'College graduate' '18 - 24' '25 - 34'
 '35 - 44' '45 - 54' '55 - 64' '65 or older' 'Less than $15,000'
 '$15,000 - $24,999' '$25,000 - $34,999' '$35,000 - $49,999'
 '$50,000 - $74,999' '$75,000 or greater' 'Data not reported'
 'Non-Hispanic White' 'Non-Hispanic Black' 'Hispanic'
 'American Indian/Alaska Native' '2 or more races' 'Asian' 'Other'
 'Hawaiian/Pacific Islander']


Columna:  StratificationCategoryId1
['OVR' 'GEN' 'EDU' 'AGEYR' 'INC' 'RACE']


Columna:  StratificationID1
['OVERALL' 'MALE' 'FEMALE' 'EDUHS' 'EDUHSGRAD' 'EDUCOTEC' 'EDUCOGRAD'
 'AGEYR1824' 'AGEYR2534' 'AGEYR3544' 'AGEYR4554' 'AGEYR5564' 'AGEYR65PLUS'
 'INCLESS15' 'INC1525' 'INC2535' 'INC3550' 'INC5075' 'INC75PLUS' 'INCNR'
 'RACEWHT' 'RACEBLK' 'RACEHIS' 'RACENAA' 'RACE2PLUS' 'RACEASN' 'RACEOTH'
 'RACEHPI']